* {
  font-family: Helvetica, Arial, sans-serif;
  color: #444
}
body {
  margin: 0;
  padding: 0;
}
.game {
  margin: 0 auto;
  text-align: center;
}
button {
  background: #0a0;
  color: #fff;
  border: 0;
  border-radius: 4px;
  padding: 1em 2em;
  font-size: 1em;
  cursor: pointer;
}
button:hover {
  background: #0b0;
}
.grid {
  line-height: 0px;
  font-size: 0px;
}
.cell {
  display: inline-block;
  background: #fff;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cell .inner {
  overflow: hidden;
  background: lightgrey;
  height: 100%;
  margin: 8px 4px;
  border-radius: 2px;
}
.cell .inner p {
  margin: 0;
  padding: 0;
  color: #fff;
}
.cell.wait .inner {
  background: red;
  cursor: default;
}
.cell.tap .inner {
  background: green;
  cursor: pointer;
}
.cell.dead .inner {
  background: orange;
}
.cell.done .inner {
  background: lightblue;
}
.cell .inner a {
  text-decoration: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,.3);
  padding-top: 14.3em
}
